@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-white: rgb(255, 255, 255)
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
}

a:hover {
    color: #07e9a5;
    font-weight: 600;

}
button{
    border: none;
    outline: none;
}
input{
    outline: none;
}

/* Modal */

.modal {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    
    z-index: 20;
}
.modal__content h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
.icon-close-close{
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    color: #8b8b8b;
    cursor: pointer;

}
.modal__content--message{
    text-align: justify;
}

.codeForm{
    display: flex;
    /* justify-content: space-between; */
    gap: 0 5px;
    align-items: center;
    
}
.codeForm input{
    width: 5%;
    padding: 10px;
    border: none;
    font-weight: 800;
    font-size: 20px;
    border-bottom: 5px solid rgb(255, 33, 118);
    /* border-radius: 5px; */
}

.button__primary {
    background-color: #fd1868;
    padding: .2rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.button__primary:hover {
    background-color: #d2084f;
}

.button__secondary {
    background-color: #121212;
    padding: .2rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
}
.button__secondary:hover {
    background-color: #ffffff;
    color: #000000;

}

.banner {
    background: linear-gradient(to right, #000000e5, #000000c5, transparent), url("../img/background.jpg");
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
}

.logo {
    width: 350px;
    height: 120px;
    background: url("../img/Oshi_No_Ko_Logo.png") no-repeat;
    background-size: contain;
}

header {
    display: flex;
    justify-content: end;
}

header nav {
    display: flex;
    gap: 20px;
}
header nav a{
    cursor: pointer;
}

nav a {
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Banner */
.banner {
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.banner__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button__banner {
    background-color: rgb(0, 138, 218);
    padding: 5px 10px;
    display: inline-block;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    transition: background-color .2s ease;
}

.button__banner:hover {
    color: #ffffff;
    background-color: rgb(255, 33, 118);
}

.star {
    display: none;
}

.ruby__person {
    display: none;
    position: absolute;
    width: 300px;
    height: 500px;
    background: linear-gradient(to bottom, transparent, rgba(255, 31, 195, 0.305)), url("../img/ruby.png") no-repeat;
    background-size: contain;
    right: 290px;
    bottom: 0;
    transition: background, transform 2s ease;
    z-index: 1;
}

.ruby__person:hover {
    background: linear-gradient(to bottom, transparent, rgba(255, 7, 189, 0.388), rgba(236, 10, 149, 0.766)), url("../img/ruby.png") no-repeat;
    background-size: contain;
    z-index: 10;
    transform: scale(1.1);
}

.ruby__person:hover .star {
    display: block;
}

.aqua__person {
    display: none;
    position: absolute;
    width: 300px;
    height: 500px;
    background: linear-gradient(to bottom, transparent, rgba(31, 76, 255, 0.414)), url("../img/aqua.png") no-repeat;
    background-size: contain;
    right: 80px;
    bottom: 0;
    transition: background, transform 2s ease;
    z-index: 2;
}

.aqua__person:hover .star {
    display: block;
}

.aqua__person:hover {
    background: linear-gradient(to bottom, transparent, rgba(31, 76, 255, 0.41), rgba(10, 138, 236, 0.766)), url("../img/aqua.png") no-repeat;
    background-size: contain;
    z-index: 10;
    transform: scale(1.1);
}



.banner__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-white);
    text-align: justify;
}

.banner__information h1 {
    font-size: 3rem;
    margin: 10px 0;
}


main {
    padding: 20px 20px;
}

.tittle__section {
    font-size: 2rem;
}

.episodies,
.elenco {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

/* Container Episodies */
.container__episodies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.episodies p {
    text-align: justify;
}

/* Cards */
.card {
    width: 190px;
    height: 254px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #74ebd5;
    background: linear-gradient(to right, #0077ff 0%, #ff39cd 100%);
    position: relative;
    z-index: 1;
}

.card:hover {
    cursor: pointer;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
}

.card::before {
    background: linear-gradient(to bottom right, #0077ff 0%, #0077ff 100%);
    transform: rotate(2deg);
}

.card::after {
    background: linear-gradient(to top right, #ff39cd 0%, #ff39cd 100%);
    transform: rotate(-2deg);
}

.card-info {
    --color: #292b2c;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: 0.7rem;
    position: relative;
    z-index: 2;
}

.card .title {
    font-weight: bold;
    letter-spacing: 0.1em;
}

.card:hover::before,
.card:hover::after {
    opacity: 0;
}

.card-info {
    color: #1b91ff;
}

.card__person {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.person__information {
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.904);
    padding: 2px 9px;
    color: #fff;
}

.person__name {
    font-weight: bold;
    font-size: 1.5rem;
}

.card__person img {
    width: 100%;
    height: 100%;
}

.person__none--cast {
    filter: grayscale(100);
}

/* Cast */
.casts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* fOOTER */

footer {
    background-color: rgba(0, 0, 0, 0.904);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social__media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.icon-social {
    width: 30px;
    height: 30px;
    display: block;
}

.icon-social--tiktok {
    background-color: #ffffff;
    /* Color inicial del SVG */
    -webkit-mask: url('../img/icon-tiktok.svg') no-repeat center;
    mask: url('../img/icon-tiktok.svg') no-repeat center;
    background-size: contain;
    transition: background-color 0.3s ease;
    /* Transición suave en el cambio de color */
}

.icon-social--tiktok:hover {
    background-color: #404dff;
    /* Cambia el color en hover */
}

/* Instagram */
.icon-social--instagram {
    background-color: #ffffff;
    /* Color inicial del SVG */
    -webkit-mask: url('../img/icon-instagram.svg') no-repeat center;
    mask: url('../img/icon-instagram.svg') no-repeat center;
    background-size: contain;
    transition: background-color 0.3s ease;
    /* Transición suave en el cambio de color */
}

.icon-social--instagram:hover {
    background-color: #E4405F;
    /* Cambia al color de Instagram en hover */
}

/* Facebook */
.icon-social--youtube {
    background-color: #ffffff;
    /* Color inicial del SVG */
    -webkit-mask: url('../img/icon-youtube.svg') no-repeat center;
    mask: url('../img/icon-youtube.svg') no-repeat center;
    background-size: contain;
    transition: background-color 0.3s ease;
    /* Transición suave en el cambio de color */
}

.icon-social--youtube:hover {
    background-color: #ff0037;
    /* Cambia al color de Facebook en hover */
}

.linksPages {
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Estilos para iPads, tabletas (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .banner__container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .button__banner {
        background-color: rgb(0, 138, 218);
        padding: 5px 10px;
        display: inline-block;
        width: 20%;
        text-align: center;
        border-radius: 5px;
        transition: background-color .2s ease;
    }

    .button__banner:hover {
        color: #ffffff;
        background-color: rgb(255, 33, 118);
    }


    .banner__information {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--color-white);

    }

    .banner__information h1 {
        font-size: 3rem;
        margin: 10px 0;
    }
}

/* Estilos para pantallas pequeñas, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .banner__container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .button__banner {
        background-color: rgb(0, 138, 218);
        padding: 5px 10px;
        display: inline-block;
        width: 20%;
        text-align: center;
        border-radius: 5px;
        transition: background-color .2s ease;
    }

    .button__banner:hover {
        color: #ffffff;
        background-color: rgb(255, 33, 118);
    }


    .banner__information {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--color-white);

    }

    .banner__information h1 {
        font-size: 3rem;
        margin: 10px 0;
    }
}

/* Estilos para computadoras de escritorio, pantallas grandes (1025px - 1200px) */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .banner__container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .ruby__person,
    .aqua__person {
        display: block;
    }

    .button__banner {
        background-color: rgb(0, 138, 218);
        padding: 5px 10px;
        display: inline-block;
        width: 20%;
        text-align: center;
        border-radius: 5px;
        transition: background-color .2s ease;
    }

    .button__banner:hover {
        color: #ffffff;
        background-color: rgb(255, 33, 118);
    }


    .banner__information {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--color-white);

    }

    .banner__information h1 {
        font-size: 3rem;
        margin: 10px 0;
    }

}

/* Estilos para pantallas extra-grandes, TV (1201px y más) */
@media screen and (min-width: 1201px) {
    .banner {
        padding: 20px 40px;
    }

    .logo {
        width: 600px;
        height: 120px;
    }

    .ruby__person,
    .aqua__person {
        display: block;
    }


    main {
        padding: 20px 40px;
    }

    .banner__container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .button__banner {
        background-color: rgb(0, 138, 218);
        padding: 5px 10px;
        display: inline-block;
        width: 20%;
        text-align: center;
        border-radius: 5px;
        transition: background-color .2s ease;
    }

    .button__banner:hover {
        color: #ffffff;
        background-color: rgb(255, 33, 118);
    }


    .banner__information {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--color-white);

    }

    .linksPages {
        width: 50%;
        margin: 0 auto;
    }

    .banner__information h1 {
        font-size: 3rem;
        margin: 10px 0;
    }

    .container__episodies {
        justify-content: start;
    }

    .casts {
        justify-content: start;
    }
}

/* Animaciones */
.star {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    animation: moveUp 2s linear infinite, twinkle 0.8s infinite;
}

@keyframes moveUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(-10vh);
    }
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/* Randomly position stars */
.star:nth-child(1) {
    top: 5%;
    left: 10%;
    animation-duration: 1.5s;
}

.star:nth-child(2) {
    top: 20%;
    left: 30%;
    animation-duration: 2s;
}

.star:nth-child(3) {
    top: 35%;
    left: 50%;
    animation-duration: 1.8s;
}

.star:nth-child(4) {
    top: 50%;
    left: 20%;
    animation-duration: 2.2s;
}

.star:nth-child(5) {
    top: 65%;
    left: 40%;
    animation-duration: 1.7s;
}

.star:nth-child(6) {
    top: 15%;
    left: 70%;
    animation-duration: 2s;
}

.star:nth-child(7) {
    top: 30%;
    left: 80%;
    animation-duration: 1.9s;
}

.star:nth-child(8) {
    top: 45%;
    left: 10%;
    animation-duration: 2.1s;
}

.star:nth-child(9) {
    top: 55%;
    left: 25%;
    animation-duration: 1.6s;
}

.star:nth-child(10) {
    top: 70%;
    left: 60%;
    animation-duration: 2.3s;
}

.star:nth-child(11) {
    top: 10%;
    left: 40%;
    animation-duration: 1.8s;
}

.star:nth-child(12) {
    top: 25%;
    left: 90%;
    animation-duration: 2s;
}

.star:nth-child(13) {
    top: 40%;
    left: 75%;
    animation-duration: 1.7s;
}

.star:nth-child(14) {
    top: 60%;
    left: 55%;
    animation-duration: 2.2s;
}

.star:nth-child(15) {
    top: 80%;
    left: 80%;
    animation-duration: 1.6s;
}